@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #edff00;
  color: black;
}

body {
  background-color: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
